.event-name-and-time-simple-feature-card {
  width: 678px;
  height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
  background-color: transparent;
}
.event-name-and-time-simple-container {
  flex: 0 0 auto;
  width: 153px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.event-name-and-time-simple-text {
  font-size: 25px;
  font-weight: bold;
}
.event-name-and-time-simple-text1 {
  font-size: 25px;
  font-family: "Montserrat";
}



















@media(max-width: 767px) {
  .event-name-and-time-simple-feature-card {
    flex-direction: row;
  }
}
@media(max-width: 479px) {
  .event-name-and-time-simple-feature-card {
    width: 450px;
  }
}
